
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.container ul {
    list-style: none;
    display: flex;
}

.container li {
    margin-left: 10px;
}

.container a {
    margin: 15px 30px;
    text-decoration: none;
    color: #2ec4b6;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
    transition: all .2s ease;
    position: relative;
}
.container a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #2ec4b6;
    transition: all .2s ease-in-out;
}

.container a:hover::before {
    width: 100%;
}

.container a:hover {
    color: #1a73e8;
}

